* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

:root {
  --text-color: #131059;
}

html {
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  width: 100vw;
}

body {
  background-color: #414345;
  background: linear-gradient(90deg, #232526 0%, #414345 100%);
  font-family: "Inter", sans-serif;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-container {
  width: 90%;
  height: 95%;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.left-container {
  background: #e3f6fe;
  padding: 40px 30px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.right-container {
  background-image: url("img/rain.jpg");
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.city-form {
  position: relative;
}
.error {
  position: absolute;
  font-size: 12px;
  color: red;
  padding-left: 35px;
  padding-top: 3px;
}
.city-form input {
  font-family: inherit;
  color: #4b4b4b;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  outline: none;
  border: 1px solid transparent;
  border-radius: 7px;
  background: #fff;
  padding: 10px 35px;
  width: 300px;
}

.city-form input:focus {
  border-color: #ccc;
}

.city-form .icon {
  width: 22px;
  height: 22px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.city-form .icon:first-of-type {
  left: 10px;
}

.city-form .icon:last-of-type {
  left: 270px;
  cursor: pointer;
}

.heading {
  margin: 30px 0;
  color: var(--text-color);
  font-weight: 400;
  font-size: 25px;
}
.heading .highlight {
  font-weight: 600;
}
.cities {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.city {
  width: 100px;
  cursor: pointer;
}

.city-img {
  width: 100px;
  height: 122px;
  background-color: #414345;
  border-radius: 10px;
  overflow: hidden;
}

.city-img img {
  width: 100%;
  height: 100%;
}

.city-name {
  color: var(--text-color);
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  margin-top: 5px;
}

.right-container {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.table {
  position: relative;
}

.table th,
.table td {
  color: #888;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 10px 35px;
  text-align: center;
}
.table td {
  font-size: 12px;
}
.table td.day {
  color: var(--text-color);
  font-size: 14px;
  text-align: left;
}

.table td.max {
  color: var(--text-color);
}

.weather {
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.weather-info {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.weather-info > div {
  width: 40%;
}

.weather-info .icon {
  width: 50px;
  height: 50px;
}

.weather-date h1 {
  font-size: 50px;
  font-weight: 600;
}
.weather-date .date {
  font-size: 14px;
  text-align: center;
}

.weather-type {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  position: relative;
}

.weather-type-text {
  font-size: 14px;
  font-weight: 500;
}

.temp-info {
  position: relative;
}

.temp {
  display: inline-block;
  font-size: 130px;
}
.temp-uint {
  font-size: 20px;
  position: absolute;
  top: 40px;
}

.condition-info {
  display: flex;
  gap: 70px;
  font-size: 12px;
}

.condition-info .container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}

.forecast-icon {
  width: 24px;
  height: 24px;
}

.region {
  flex-basis: 100%;
  padding: 10px;
  text-align: center;
}
/* Loading GIF */

.lds-ellipsis {
  display: inline-block;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

.hidden {
  display: none;
}

@media (max-width: 1024px) {
  /* Your CSS rules for mobile devices here */
  .main-container {
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 200px 1fr;
  }

  .right-container {
    width: 100%;
    order: 1;
    padding: 10px;
    border-radius: 0px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  .weather {
    flex-direction: row;
  }

  .left-container {
    width: 100%;
    order: 2;
    border-radius: 0px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  .weather-info {
    gap: 10px;
  }

  .weather-info .icon {
    width: 20px;
    height: 20px;
  }

  .weather-date h1 {
    font-size: 30px;
    font-weight: 500;
  }

  .temp-info {
    order: 3;
  }

  .condition-info {
    order: 2;
    flex-direction: column;
    gap: 20px;
  }

  .temp {
    font-size: 80px;
  }

  .temp-uint {
    top: 20px;
  }
  .speed-icon,
  .humidity-icon {
    width: 20px;
    height: 20px;
  }

  .cities {
    overflow-x: scroll;
  }
}
